//
// Font names:
// 	 font-family:'AvenirNextLTW01-Regular';
// 	 font-family:'AvenirNextLTW01-Medium';
// 	 font-family:'Avenir Next LT W01 Demi';
//	 font-family:'Avenir Next W01 Light';
//

@import 'utils';


// Header
.header{
	margin: 1.5em 0 2.5em;
	height: 64px;
	
	h1{
		display: block;
		width: 64px;
		height: 64px;
		overflow: hidden;
		-webkit-perspective: 1000;
		-moz-perspective: 1000;
		-o-perspective:1000;
    perspective: 1000;
		position: relative;
		
		a{
			display: block;
			width: 64px;
			height: 64px;
			position: absolute;
			
			-webkit-transition: 0.4s;
				 -moz-transition: 0.4s;
					 -o-transition: 0.4s;
							transition: 0.4s;
							
			-webkit-transform-style: preserve-3d;
				 -moz-transform-style: preserve-3d;
					 -o-transform-style: preserve-3d;
							transform-style: preserve-3d;
							
			&:hover{
				-webkit-transform: rotateY( 180deg );
				-moz-transform: rotateY( 180deg );
					-o-transform: rotateY( 180deg );
						 transform: rotateY( 180deg );
			}
			
			span{
				width: 64px;
				height: 64px;
				display: block;
				position: absolute;
				background-size: 100% 100%;
				background-repeat: no-repeat;
				
				-webkit-backface-visibility: hidden;
					 -moz-backface-visibility: hidden;
					 	 -o-backface-visibility: hidden;
					 			backface-visibility: hidden;
			}
			
			span.front{
				background-image: url('../images/logo.png');
			}
			
			span.back{
				background-image: url('../images/name.png');
				
				-webkit-transform: rotateY( 180deg );
					 -moz-transform: rotateY( 180deg );
						 -o-transform: rotateY( 180deg );
								transform: rotateY( 180deg );
			}
		}
	}
}

// Intro
#intro {
	h2{
		font-size: 34px;
		color: #595959;
		line-height: 46px;
		text-align: center;
		margin-bottom: 20px;
	}
	
	.description {
		color: #9A9A9A;
		text-align: center;
		
		p {
			font-family: 'Avenir Next W01 Light', $font-stack;
			margin: 0;
			padding: 0 2.2em;
		}
	}
	
	.icons{
		width:60%;
		height: 42px;
		margin: 2em auto 3em;
		position: relative;
		
		.icon-container{
      width: 42px;
  		height: 42px;
  		display: block;
  		overflow: hidden;
  		position: absolute;
  		top: 0;
  		-webkit-perspective: 800;
  		-moz-perspective: 800;
  		-o-perspective:800;
  		perspective: 800;
  		
  		&:last-child{
  		}
  		&#mail{
    		left:0;
        margin-left: -21px;
  		}
  		&#twitter{
    		left:25%;
    		margin-left: -21px;
  		}
  		&#dribbble{
  		  left:50%;
  	    margin-left: -21px;
      }
  		&#rdio{
  		  left:75%;
  		  margin-left: -21px;
  		}
  		&#github{
  		  right:0;
  		  margin-right: -21px;
  		}
  		&#mail span{
  		  background-position-x: 0px;
  		}
  		&#twitter span{
  		  background-position-x: -42px;
  		}
  		&#dribbble span{
  		  background-position-x: -84px;
  		}
  		&#rdio span{
  		  background-position-x: -126px;
  		}
  		&#github span{
  		  background-position-x: -168px;
  		}
  		.icon{
    		display: block;
    		width: 42px;
    		height: 42px;
    		position: absolute;
    		
    		-webkit-transition: 0.2s;
    		   -moz-transition: 0.2s;
    		     -o-transition: 0.2s;
    		        transition: 0.2s;
    		        
    		-webkit-transform-style: preserve-3d;
    		   -moz-transform-style: preserve-3d;
    		     -o-transform-style: preserve-3d;
    		        transform-style: preserve-3d;
    		        
        &:hover{
          -webkit-transform: rotateY( -180deg );
          -moz-transform: rotateY( -180deg );
            -o-transform: rotateY( -180deg );
               transform: rotateY( -180deg );
        }
        
        span{
          width: 42px;
          height: 42px;
          display: block;
          position: absolute;
          background-size: auto 200% ;
          background-repeat: no-repeat;
          background-image: url('../images/icons.png');
          
          -webkit-backface-visibility: hidden;
             -moz-backface-visibility: hidden;
                -o-backface-visibility: hidden;
                   backface-visibility: hidden;
        }
        
        span.front{
        }
        
        span.back{
          background-position-y: -42px ;
          
          -webkit-transform: rotateY( -180deg );
             -moz-transform: rotateY( -180deg );
               -o-transform: rotateY( -180deg );
                  transform: rotateY( -180deg );
        }
  		}
		}
	}
}

// Home - Content Boxes
#content{
  &>section{
    background: yellow;
    margin: 0;
    padding: 2.5em 0;
    color: #FFF;
  }
  section#nec{
    background: #B54A3D;
  }
  section#aws{
    background: #2E98C8;
  }
  section#drib{
    background: #4C4B4C;
  }
  section#writing{
    background: #333333;
  }
}
// Footer
footer{
  background-color: #424242;
  margin: 0;
  padding:45px 0;
  height: 1em;
  
  .footer-text{
    float: left;
    p{
      a{
        text-transform: uppercase;
        font-size: 14px;
        color: #FFFFFF;
        line-height: 19px;
        font-family: 'Avenir Next W01 Light', $font-stack;
        text-decoration: none;
        opacity: 0.6;
        @include transition(all, 0.2s, ease-in-out);
        
        &:hover{
          opacity: 1;
        }
      }
    }
  }
  .footer-icons{
    float: right;
  }
}

